<div class="narrow-margin" id="article-index">
	<div class="col s12 m12 l3" id="my-articles">
		<h5 class="yellow-text">ARTICLES I'VE WRITTEN</h5><hr>
		<div id="article">
			<% @articles.each do |article| %>
					<h6 class="yellow-text text-lighten-3"><%= article.title %></h6>
					<p><%= markdown(article.content) %></p>
					<td><%= link_to 'Show', article %>
			<% end %>
		</div>
	</div>

	<% if user_signed_in? %>
		<%= link_to 'New Article', new_article_path %>
	<% end %>

	<%= will_paginate @articles, class: "pagination center" %>
</div>