<div class="narrow-margin" id="article-show">
	<h5 class="yellow-text"><%= @article.title %></h5><hr>
	<p><%= markdown(@article.content) %></p>
	<% if user_signed_in? %>
	  <%= link_to 'Edit', edit_article_path(@article) %>
	  <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	<%= link_to 'Back', articles_path %>
	<%= render "disqus" %>
</div>