<div class="welcome">
	<div class="row">
		<div class="col s12 m12 l5" id="about-me">
			<h5 class="yellow-text">ABOUT ME</h5><br><hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos suscipit excepturi atque dolorem nostrum aperiam consectetur minima, sequi dolor fugit omnis ad est mollitia facilis, aliquid voluptas harum. Alias, sapiente.</p>
		</div>
		
		<div class="col s12 m12 l3" id="my-articles">
			<h5 class="yellow-text">ARTICLES I'VE WRITTEN</h5><hr>
			<div id="article">
				<% @articles.each do |article| %>
						<h6 class="yellow-text text-lighten-3"><%= article.title %></h6>
						<%= truncate(article.content, length: 200) %> <br> <%= link_to "Read More", article_path(article.id) %>
				<% end %>
			</div>
		</div>

		<div class="col s12 m12 l3" id="my-projects">
			<h5 class="yellow-text">PROJECTS I'VE BUILT</h5><hr>
			<div id="project">
				<% @projects.each do |project| %>
					<h6 class="yellow-text text-lighten-3">
						<%= project.title %>
						<%= link_to '<i class="fa fa-home yellow-text text-lighten-3" aria-hidden="true"></i>'.html_safe, project.web, class: "yellow-text text-lighten-3 right" %>
						<%= link_to '<i class="fa fa-github-alt yellow-text text-lighten-3" aria-hidden="true"></i>'.html_safe, project.github, class: "yellow-text text-lighten-3 right" %>
					</h6>
					<%= truncate(project.description, length: 200) %> <br> <%= link_to "Read More", project_path(project.id) %>
				<% end %>
			</div>
		</div>
	</div>
</div>