<div class="narrow-margin" id="contact_me">
	<h5 class="page_title center yellow-text">CONTACT ME</h5>

	<%= form_for @contact do |f| %>
		<%= f.label :name %><br>
		<%= f.text_field :name, required: true %>

		<br>

		<%= f.label :email %><br>
		<%= f.email_field :email, required: true %>

		<br>

		<%= f.label :message %><br>
		<%= f.text_area :message, as: :text %>

		<div class="hide">
			<%= f.label :nickname %><br>
			<%= f.text_field :nickname, hint: 'leave this field blank' %>
		</div>

		<%= f.submit 'Send Message', class: "btn waves-effect waves-light yellow" %>
	<% end %>
</div>