<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: "yellow-text text-lighten-3" %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field edit">
    <%= f.label :description, class: "yellow-text text-lighten-3" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :github, class: "yellow-text text-lighten-3" %><br>
    <%= f.text_field :github %>
  </div>
  <div class="field">
    <%= f.label :web, class: "yellow-text text-lighten-3" %><br>
    <%= f.text_field :web %>
  </div>
  <div class="field">
    <%= f.label :image, class: "yellow-text text-lighten-3" %><br>
    <%= f.text_field :image %>
  </div>

	<div class="yellow_btn center">
	  <div class="actions">
	    <%= f.submit class: "waves-effect yellow btn" %>
	  </div>
	</div>  
<% end %>
