<div class="narrow-margin" id="project-show">
	<h5 class="yellow-text"><%= @project.title %></h5><hr>
	<p><%= markdown(@project.description) %></p>

	<h6 class="yellow-text text-lighten-3">
		<%= @project.image %>
		<%= link_to '<i class="fa fa-home yellow-text text-lighten-3" aria-hidden="true"></i>'.html_safe, @project.web, class: "yellow-text text-lighten-3 right" %>
		<%= link_to '<i class="fa fa-github-alt yellow-text text-lighten-3" aria-hidden="true"></i>'.html_safe, @project.github, class: "yellow-text text-lighten-3 right" %>
	</h6>

	<%= link_to 'Edit', edit_project_path(@project) %>
	<%= link_to 'Back', projects_path %>

	<%= render "disqus" %>
</div>