<div class="narrow-margin" id="project-show">
	<div id="project">
		<h5 class="yellow-text page_title center"><%= @project.title %></h5>
		<h6 class="date center"><em class="grey-text text-lighten-1"><%= @project.created_at.strftime('%B %d, %Y') %></em></h6>
		<%= image_tag ("#{@project.image}"), alt: "Project's image" %>
		<p><%= markdown(@project.description) %></p>

		<div class="yellow_btn center">
			<%= link_to '<i class="fa fa-home yellow-text text-lighten-3" aria-hidden="true"></i>'.html_safe, @project.web, class: "yellow-text text-lighten-3" %>
			<%= link_to '<i class="fa fa-github-alt yellow-text text-lighten-3" aria-hidden="true"></i>'.html_safe, @project.github, class: "yellow-text text-lighten-3" %>

			<div class="admin_links">	
				<% if user_signed_in? %>
					<hr width="50%">
					<%= link_to 'Edit', edit_project_path(@project), class: "waves-effect btn yellow" %>
					<%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect btn yellow" %>
				<% end %>
			</div>
		</div>

	<br>	
		<%= render "disqus" %>
	</div>
</div>