<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdown(@project.description) %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github %>
</p>

<p>
  <strong>Web:</strong>
  <%= @project.web %>
</p>

<p>
  <strong>Image:</strong>
  <%= @project.image %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<%= render "disqus" %>
