<div class="narrow-margin" id="login">
	<h5 class="yellow-text page_title center">Log in</h5>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="field">
	    <%= f.label :email, class: "yellow-text text-lighten-3" %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class="field">
	    <%= f.label :password, class: "yellow-text text-lighten-3" %><br />
	    <%= f.password_field :password, autocomplete: "off" %>
	  </div>

		<div class="center">
		  <% if devise_mapping.rememberable? -%>
		    <div class="field">
		      <%= f.check_box :remember_me %>
		      <%= f.label :remember_me, class: "yellow-text" %>
		    </div>
		    <br>
		  <% end -%>

		  <div class="actions yellow_btn">
		    <%= f.submit "Log in", class: "waves-effect btn	yellow" %>
		  </div>
		<% end %>
		<br>

		<%= render "devise/shared/links" %>
	</div>
</div>