<!DOCTYPE html>
<html>
<head>
  <title>Ahmadatiyah</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<div class="navbar-fixed">	
		<nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo"><%= image_tag('logo2.png', id: "logo") %></a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down topnav">
	        <li><%= link_to "Articles", articles_path %></li>
	        <li><%= link_to "Projects", projects_path %></li>
	        <li><a href="#">Contact me</a></li>
	        <li><a href="#">Sign In</a></li>
	      </ul>
	      <ul class="side-nav center" id="mobile-demo">
	      	<li class="sidenav-img"><%= image_tag('me.jpg', class: "responsive-img") %></li>
	        <li><%= link_to "Articles", articles_path %></li>
	        <li><%= link_to "Projects", projects_path %></li>
	        <li><a href="#">Contact me</a></li>
	        <li><a href="#">Sign In</a></li>
	      </ul>
	    </div>
	  </nav>
	</div>
	
	<main>
		<%= yield %>
	</main>

	<footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
	      <div class="right">
	      	<a class="grey-text text-lighten-4" href="https://www.twitter.com/ahmad_atiyah" target="_blank">
	      	<i class="fa fa-twitter" aria-hidden="true"></i>
		      </a>
					<a class="grey-text text-lighten-4" href="https://www.linkedin.com/in/ahmadatiyah" target="_blank">
		      	<i class="fa fa-linkedin" aria-hidden="true"></i>
		      </a>
		      <a class="grey-text text-lighten-4" href="https://www.github.com/aatiyah" target="_blank">
		      	<i class="fa fa-github-alt" aria-hidden="true"></i>
		      </a>
	      </div>
	      <div class="left">© 2016 AHMAD ATIYAH</div>
    	</div>
    </div>
  </footer>
  	
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-80045974-1', 'auto');
	  ga('send', 'pageview');
	</script>
</body>
</html>